* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Karla", sans-serif;
}

:root {
  --lighter-green: hsl(148, 38%, 91%);
  --darker-green: hsl(169, 82%, 27%);
  --hover-button-darker-green: hsl(169, 82%, 20%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --medium-grey: hsl(186, 15%, 59%);
  --darker-grey: hsl(187, 24%, 22%);
}

body {
  min-height: 100vh;
  background-color: var(--lighter-green);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input,
textarea {
  padding: 8px;

  font-family: "Karla", sans-serif;
  font-size: 16px;

  border: 1px solid var(--medium-grey);
  border-radius: 5px;

  &:hover,
  &:focus {
    border: 1px solid var(--darker-green);
    outline: 1px solid var(--darker-green);
  }
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;

  border: 0px;
  outline: none;
  width: 5%;
  height: 1rem;
  accent-color: var(--darker-green);
}

input[type="checkbox"] {
  width: 1rem;
  margin: 0 5px 0 1px;
}

label {
  margin-bottom: 0.5rem;
  cursor: pointer;

  span {
    color: var(--darker-green);
  }
}

.error-message,
.error-message-query,
.error-message-agreement {
  font-size: 12px;
  font-weight: 600;
  margin: 5px 0 0 2px;
  color: var(--red);
  opacity: 0;
  pointer-events: none;
}

.error {
  border: 1px solid var(--red);

  &:hover,
  &:focus {
    border: 1px solid var(--red);
    outline: none;
  }
}
header {
  background-color: var(--darker-grey);
  color: white;

  position: absolute;
  top: 10px;
  padding: 20px;
  border-radius: 10px;
  margin: 0 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  div {
    display: flex;
    align-items: center;
    gap: 10px;

    font-size: 18px;

    img {
      width: 30px;
    }
  }

  p {
    font-size: 15px;
  }
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out, visibility 0.8s ease-in-out;
}

header.show {
  opacity: 1;
  visibility: visible;
}

main {
  max-width: 720px;
  width: 90%;
  min-width: 315px;

  background-color: var(--white);
  color: black;

  padding: 20px;
  margin: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;

  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

article {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.personal-info {
  div {
    display: flex;
    flex-direction: column;
  }

  .fullname {
    display: flex;
    gap: 1rem;

    div {
      width: 100%;
    }

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}

.query-selection {
  display: flex;
  flex-direction: column;

  .query-radios {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    div {
      cursor: pointer;
      width: 100%;

      display: flex;
      align-items: center;
      gap: 5px;

      border: 1px solid var(--medium-grey);
      border-radius: 10px;
      padding: 12px 10px;

      p {
        font-size: 16px;
      }

      &:hover {
        border: 1px solid var(--darker-green);
        outline: 1px solid var(--darker-green);
      }

      &.focused {
        border: 1px solid var(--darker-green);
        outline: 1px solid var(--darker-green);
        background-color: var(--lighter-green);
      }
    }

    .error {
      border: 1px solid var(--red);

      &:hover,
      &:focus {
        border: 1px solid var(--red);
        outline: none;
      }
    }

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }
}

.textarea-message {
  display: flex;
  flex-direction: column;

  textarea {
    height: 130px;
    resize: none;
  }
}

.consentement {
  div {
    display: flex;
    align-items: center;

    input {
      height: 0.9rem;
    }

    label {
      font-size: 17px;
      margin: 0;
    }
  }
}

.submit {
  margin: 0.5rem 0;
  button {
    cursor: pointer;

    padding: 10px 0;
    font-size: 18px;

    color: white;
    background-color: var(--darker-green);
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: var(--hover-button-darker-green);
    }
  }
}
