* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --lighter-green: hsl(148, 38%, 91%);
  --darker-green: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);
  --white: hsl(0, 0%, 100%);
  --medium-grey: hsl(186, 15%, 59%);
  --darker-grey: hsl(187, 24%, 22%);
}

body {
  font-family: "Karla", sans-serif;
}
